body{
    background: #69A197;
}

.container{
    display:flex;
    height: 380px;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
} /* justify-content tag customizes via the x axis and align-items tag customizes via the y axis */

.box{
    width:250px;
    height:350px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

#box1{
}

#box2{
    margin-top: 30px;
}

#box3{
}

#box4{
    margin-top: 30px;
}

#box5{
}

.titlecontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    column-gap:64px;
    row-gap: 32px;
    border:1px solid #417269;
    background-color: #417269;
    border-radius: 10px;
    margin: 10px;
}

.titlebox{
    color:#F9DC5C;
}

.contacticons{
    color: #F9DC5C;
}

#titletext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

.box:hover{
    transform: scale(1.1);
}